In [81]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [11]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:99% ! important; }<style>"))

In [8]:
m= requests.get("https://apps5.mineco.gob.pe/transparencia/mensual/Navegar_6.aspx?_uhc=yes&1=M&8=20&5=&y=2021&ap=Proyecto&cpage=1&psize=3000")
r= requests.get("https://apps5.mineco.gob.pe/transparencia/mensual/Navegar_6.aspx?_uhc=yes&1=R&8=20&5=&y=2021&ap=Proyecto&cpage=1&psize=3000")

In [24]:
soup = BeautifulSoup(r.text,'lxml')
htmltable = soup.find('table', { 'class' : 'Data' })
htmltable2=htmltable.findAll('td')

In [237]:
E1=[]
E2=[]
E3=[]
E4=[]
E5=[]
E6=[]

In [235]:
anho=['2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
funcion=['20','15','22','18','10','03','19']
gob=['M','R']
dpto=['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25']

In [239]:
for a in anho:
    for f in funcion:
        for g in gob:
            ab = "https://apps5.mineco.gob.pe/transparencia/mensual/Navegar_6.aspx?_uhc=yes&1="
            url = ab+str(g)+"&8="+str(f)+"&5=&y="+str(a)+"&ap=Proyecto&cpage=1&psize=3000"
            r = requests.get(url)
            soup = BeautifulSoup(r.text,'lxml')
            htmltable_1 = soup.find('table', { 'class' : 'Data' })
            for element in np.arange(1,len(htmltable_1.find_all('td'))):
                if element%10==1:
                    A= str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
                    E1.append(str(a))
                    E2.append(A[4:])
                    E3.append(str(g))
                    E4.append(str(f))
                if element%10==3:
                    Y=str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
                    E5.append(Y)
                if element%10==7:
                    Z=str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
                    E6.append(Z)
        
        ab="https://apps5.mineco.gob.pe/transparencia/mensual/Navegar_6.aspx?_uhc=yes&"
        url=ab+"8="+str(f)+"&5=&y="+str(a)+"&ap=Proyecto&cpage=1&psize=3000"
        r = requests.get(url)
        soup = BeautifulSoup(r.text,'lxml')
        htmltable_1 = soup.find('table', { 'class' : 'Data' })
        for element in np.arange(1,len(htmltable_1.find_all('td'))):
            if element%10==1:
                A= str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
                E1.append(str(a))
                E2.append(A[4:])
                E3.append("Total")
                E4.append(str(f))
            if element%10==3:
                Y=str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
                E5.append(Y)
            if element%10==7:
                Z=str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
                E6.append(Z)
    
    ab="https://apps5.mineco.gob.pe/transparencia/mensual/Navegar_6.aspx?_uhc=yes&"
    url=ab+"5=&y="+str(a)+"&ap=Proyecto&cpage=1&psize=3000"
    r = requests.get(url)
    soup = BeautifulSoup(r.text,'lxml')
    htmltable_1 = soup.find('table', { 'class' : 'Data' })
    for element in np.arange(1,len(htmltable_1.find_all('td'))):
        if element%10==1:
            A= str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
            E1.append(str(a))
            E2.append(A[4:])
            E3.append("Total")
            E4.append("Total")
        if element%10==3:
            Y=str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
            E5.append(Y)
        if element%10==7:
            Z=str(htmltable_1.find_all('td')[element].text.strip("\r\n").strip())
            E6.append(Z)

In [240]:
df=pd.DataFrame(columns=['Año','Departamento','Gobierno','Funcion','PIM','Devengado'])
df["Año"]=E1
df["Departamento"]=E2
df["Gobierno"]=E3
df["Funcion"]=E4
df["PIM"]=E5
df["Devengado"]=E6

      Año Departamento Gobierno Funcion            PIM    Devengado
0    2021     AMAZONAS        M      20      2,335,242    1,819,577
1    2021       ANCASH        M      20     35,413,285   19,218,220
2    2021     APURIMAC        M      20     74,353,775   52,181,701
3    2021     AREQUIPA        M      20     39,086,764   19,942,424
4    2021     AYACUCHO        M      20     49,700,087   18,912,425
..    ...          ...      ...     ...            ...          ...
533  2021         PUNO    Total   Total  1,391,049,709  900,777,621
534  2021   SAN MARTIN    Total   Total    979,236,074  748,278,886
535  2021        TACNA    Total   Total    812,132,192  581,298,986
536  2021       TUMBES    Total   Total    456,966,944  260,154,692
537  2021      UCAYALI    Total   Total    648,933,696  472,382,204

[538 rows x 6 columns]

In [242]:
df.to_excel("Gasto_MEF_2021.xlsx",index=False)